{% extends 'base.html' %}


{% block title %}Forgot Password {% endblock %}

{% block content %}
<div class="container">
    <div clas="row">
        <div class="col-md-8">
            <h3>Enter your email used in making customer account to get password reset link</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">Get Reset Link</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}